<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="public/fragments/head-elements :: headElements"></head>
<title>Eregistrar system - Students</title>
</head>
<body>
<div th:replace="public/fragments/header :: header"></div>
<div id="mainContainer" class="container">
    <div style="width: 100%;">
        <h3 style="display: inline;">List of Students</h3>
        <span style="float: right;">
                <a class="btn btn-outline-primary btn-lg" href="/eregistrar/new">
                    <i class="fa-brands fa-product-hunt"></i> Add a New Student
                </a>
            </span>
    </div>
    <hr/>
    <div style="font-size: 1em">
        <!-- table with publishers-->
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">studentNumber</th>
                <th scope="col">FirstName</th>
                <th scope="col">MiddleName</th>
                <th scope="col">LastName</th>
                <th scope="col">cgpa</th>
                <th scope="col">enrollmentDate</th>
                <th scope="col">IsInternational</th>
                <th scope="col">&nbsp;</th>
                <th scope="col">&nbsp;</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="student,iterStat : ${students}">
                <!--th:onclick="@{document.location='/elibrary/book/edit/{bookId}'(bookId=${book.bookId})}" -->
                <th scope="row" th:text="${iterStat.count}+${'.'}"></th>
                <td th:text="${student.studentNumber}"></td>
                <td th:text="${student.firstName}"></td>
                <td th:text="${student.middleName}"></td>
                <td th:text="${student.lastName}"></td>
                <td th:text="${student.cgpa}"></td>
                <td th:text="${student.enrollmentDate}"></td>
                <td th:text="${student.isInternational}"></td>

                <td>
                    <a th:href="@{'/eregistrar/edit/{studentId}'(studentId=${student.studentId})}">
                        <i class="fa-regular fa-pen-to-square"></i> Edit
                    </a>
                </td>
                <td>
                    <a th:href="@{'/eregistrar/delete/{studentId}'(studentId=${student.studentId})}">
                        <i class="fa-solid fa-delete-left"></i> Delete
                    </a>
                    <!--                        <a data-toggle="modal" data-target="#confirmDeleteBookModal" th:href="@{'/elibrary/book/delete/' + ${book.bookId}}">Delete</a>-->
                    <!--                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">-->
                    <!--                            Launch demo modal-->
                    <!--                        </button>-->
                </td>
            </tr>
            <tr th:if="${students.size() < 1}">
                <td colspan="8" th:align="center">No Student found</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div th:replace="public/fragments/footer :: footer"></div>
</body>
</html>>